body{
    background-color: #4a3769;
    margin: 0;
    padding: 0 10% 0 10%;
}

header{
    background-color:#a9ffd3;
    margin: 0;
    padding:2em;
    text-align:center;
}

main{
    background-color:#71d3c3;
    margin: 0;
    padding:2em;
}

footer{
    background-color: #a9ffd3;
    margin: 0;
    padding:0.5em 2em;
}

h1{
    margin:0;
}